/****************************
Eric Meyer's CSS reset
****************************/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/****************************
HEADER
****************************/

.header {
  width: 99.5%;
  height: 33.833%;
  background: url('img/jobseeker2.jpg') no-repeat;
  background-size: 100%;
}

.nav-bar {
  width: 100%;
  height: 20px;
  background: hsl(0, 0%, 88%);
  margin-bottom: 72px;
  opacity: .6;
}


.logo {
  width: 120px;
  height: 70px;
  padding: 10px 50px;
}

.header nav {
  float: right;
  margin-right: 50px;
  font-size: .75em;
  margin-top: 5px;
}

.header nav a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
  font-family: Montserrat;
  font-weight: 400;
}


.header p {
  margin-bottom: 15px;
  padding-left: 30px;
  margin-left: 50px;
}

.post {
  font-family: Raleway;
  text-decoration: none;
  border: thin solid hsl(120, 75%, 38%);
  color: white;
  background: hsl(120, 75%, 38%);
  margin-left: 110px;
  padding: 5px 20px;
}

.info-bar {
  width: 99.9%;
  height: 70px;
  background: #000;
  color: #fff;
  margin: 35px auto 0;
  text-align: center;
  opacity: .6;
}

.info-bar p {
  color: white;
  font-family: Raleway;
  font-weight: thin;
}

.top {
  font-family: Raleway;
  font-size: 1.3em;
  word-spacing: 2px;
  font-weight: thin;
  word-spacing: 5px;
  margin-bottom: 5px;
  padding-top: 20px;


}

.bottom {
  font-size: .6em;
  position: relative;
  bottom: 3px;
  word-spacing: 5px

}

.bottom span {
  font-size: 2em;
  font-weight: bold;
}



/****************************
SECTION
****************************/



/****************************
HOW IT WORKS
****************************/
.how-it-works {
  width: 100%;
  height: 21.266%;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2em;
  font-family: Montserrat;
  font-weight: 400;
  color: gray;

}

.how-it-works li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

.arrow {
  position: relative;
  bottom: 40px;
  padding-right: 5px;
}

.how-it-works a {
  font-family: Raleway;
  text-decoration: none;
  color: gray;
  font-size: .75em;

}

/****************************
LOOKING FOR A JOB
****************************/

.looking-for-a-job {
  width: 100%;
  height: 200px;
  background: url('img/back.jpg');
  margin: 0 auto;
  text-align: center;
  opacity: .7;
}

h3 {
  font-family: Raleway;
  font-size: 1.5em;
  margin: 20px auto;
  padding-top: 40px;
  font-weight: bold;
}

.looking-for-a-job p {
  font-family: Raleway;
  word-spacing: 5px;
  font-size: .75em;
  padding-top: 10px;
  margin-bottom: 30px;
}

.looking-for-a-job a {
  text-decoration: none;
  color: #fff;
  border: thin solid;
  border-color: hsl(120, 75%, 38%);
  background: hsl(120, 75%, 38%);
  padding: 8px 23px;
  position: relative;
  bottom: 5px;
  font-family: Raleway;
  font-size: .75em;
}


 /****************************
OUR PARTNERS
****************************/ 

.our-partners {
  width: 100%;
  height: 220px;
  border-bottom: thin solid;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}


h4 {
  font-family: Raleway;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 70px;
  margin-top: 20px;
  color: darkgray;

}

.our-partners li {
  display: inline-block;
  border: thin solid;
  margin: auto 20px;
  padding: 20px 70px;
  border-color: hsl(0, 0%, 88%);
}


/****************************
FOOTER
****************************/

.footer {
  height: 50px;
  width: 100%;
  background: #000;
  color: lightgray;
  border-top: 2px solid green;
}


.footer li {
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
}

.footer a {
  font-family: Raleway;
  font-size: .75em;
  color: lightgray;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
  top: 30px;
}


/****************************
HEADER POSITIOINING
****************************/

h1 {
  font-family: Arimo;
  font-size: 2em;
  font-color: hsl(0, 0%, 13%);
  margin-left: 100px;
  padding-left: 10px;
}

.description {
  font-family: Raleway;
  font-size: .65em;
  margin-bottom: 15px;
  padding-left: 10px;
  margin-left: 100px;
  padding-top: 10px;
  line-height: 20px;
}


/****************************
HOVER EFFECT
****************************/

a:hover {
  text-decoration: underline;
}





